In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('boilerplate-demographic-data-analyzer/adult.data.csv')

In [42]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,abcd
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,19.5
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,25.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,19.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,26.5
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,14.0

In [4]:
df['age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [5]:
df[df['sex']=='Male']['age'].mean()

39.43354749885268

In [6]:
# How many of each race are represented in this dataset? This should be a Pandas series with
# race names as the index labels.

race_count = df.groupby('race')['fnlwgt'].sum()
race_count

race
Amer-Indian-Eskimo      37578487
Asian-Pac-Islander     166178293
Black                  712313000
Other                   53420656
White                 5209882956
Name: fnlwgt, dtype: int64

In [7]:
# What is the percentage of people who have a Bachelor's degree?

total_bachelors = df[df['education'] == 'Bachelors']['fnlwgt'].sum()
print(f"{total_bachelors:,}")

total_population = df['fnlwgt'].sum()

print(f"{total_population:,}")

percentage_bachelors = (total_bachelors/total_population) * 100

print(percentage_bachelors)

1,007,039,424
6,179,373,392
16.29678868902376

In [8]:
  # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

filtered_df = df[
    ((df['education'] == 'Bachelor') |
     (df['education'] == 'Master') |
     (df['education'] == 'Doctorate')) & 
    (df['salary'] == '>50K')
]
advance_edu_people = filtered_df['fnlwgt'].sum()
total_population = df['fnlwgt'].sum()

higher_education = (advance_edu_people / total_population) * 100
lower_education = 100 - higher_education

In [9]:
higher_education = df[
        ((df['education'] == 'Bachelor') |
        (df['education'] == 'Master') |
        (df['education'] == 'Doctorate'))
    ]['fnlwgt'].sum()
higher_education
#lower_education =

77106588

In [18]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [19]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['salary'] == '>50K']['hours-per-week'].min()

rich_percentage = (num_min_workers/total_population) * 100

1

1.6182870601323908e-08

In [ ]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country = None

highest_earning_country_percentage = None

In [46]:
filtered_df = df[df['salary'] == '>50K']
rich_pop_each_country = filtered_df.groupby('native-country')['fnlwgt'].sum()
total_pop_each_country = df.groupby('native-country')['fnlwgt'].sum()

percentage_rich_pop_each_country = rich_pop_each_country / total_pop_each_country



percentage_rich_pop_each_country.idxmax()

'Cambodia'

In [48]:
import pandas as pd

# Assuming 'salary' column has values '>50K' and '<=50K'
# and 'country' column contains the country names

# Step 1: Filter the dataset
high_earners = df[df['salary'] == '>50K']

# Step 2: Group by 'country' and count the occurrences
country_counts = high_earners['native-country'].value_counts()

# Step 3: Calculate the total number of high earners
total_high_earners = country_counts.sum()

# Step 4: Calculate the percentage for each country
country_percentage = (country_counts / total_high_earners) * 100

# Step 5: Find the country with the maximum percentage
max_percentage_country = country_percentage.idxmax()

print(f"The country with the maximum percentage of people earning > $50K is {max_percentage_country} with {country_percentage[max_percentage_country]:.2f}%")

The country with the maximum percentage of people earning > $50K is United-States with 91.46%