In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('boilerplate-demographic-data-analyzer/adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df['age']

0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [18]:
df[df['sex']=='Male']['age'].mean().round(1)

39.4

In [7]:
# How many of each race are represented in this dataset? This should be a Pandas series with
# race names as the index labels.

race_count = df.groupby('race')['fnlwgt'].sum()
race_count

race
Amer-Indian-Eskimo      37578487
Asian-Pac-Islander     166178293
Black                  712313000
Other                   53420656
White                 5209882956
Name: fnlwgt, dtype: int64

In [8]:
# What is the percentage of people who have a Bachelor's degree?

total_bachelors = df[df['education'] == 'Bachelors']['fnlwgt'].sum()
print(f"{total_bachelors:,}")

total_population = df['fnlwgt'].sum()

print(f"{total_population:,}")

percentage_bachelors = round((total_bachelors/total_population) * 100,1)

print(percentage_bachelors)

1,007,039,424
6,179,373,392
16.3

In [9]:
num_bachelors = len(df[df['education'] == 'Bachelors'])
total_num = len(df)
percentage_bachelors = round((num_bachelors / total_num) * 100 , 1)
percentage_bachelors

16.4

In [10]:
  # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

higher_education = df[df['education'].isin(['Bachelors','Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors','Masters', 'Doctorate'])]

num_rich_higher_education = len(higher_education[higher_education.salary == ">50K"])
higher_education_rich = round(num_rich_higher_education/len(higher_education) * 100 ,1)

num_rich_lower_education = len(lower_education[lower_education.salary == ">50K"])
lower_education_rich = round(num_rich_lower_education/len(lower_education) * 100 ,1)

print(higher_education_rich, lower_education_rich)

46.5 17.4

In [11]:
  # What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == min_work_hours]

rich_percentage = round(len(num_min_workers[num_min_workers.salary == '>50K']) /len(num_min_workers) * 100, 1)
rich_percentage

10.0

In [12]:
higher_education = df[
        ((df['education'] == 'Bachelor') |
        (df['education'] == 'Master') |
        (df['education'] == 'Doctorate'))
    ]['fnlwgt'].sum()
higher_education
#lower_education =

77106588

In [13]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [14]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['salary'] == '>50K']['hours-per-week'].min()

rich_percentage = (num_min_workers/total_population) * 100

In [15]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country = None

highest_earning_country_percentage = None

In [16]:
filtered_df = df[df['salary'] == '>50K']
rich_pop_each_country = filtered_df.groupby('native-country')['fnlwgt'].sum()
total_pop_each_country = df.groupby('native-country')['fnlwgt'].sum()

percentage_rich_pop_each_country = rich_pop_each_country / total_pop_each_country



percentage_rich_pop_each_country.idxmax()

'Cambodia'

In [17]:
import pandas as pd

# Assuming 'salary' column has values '>50K' and '<=50K'
# and 'country' column contains the country names

# Step 1: Filter the dataset
high_earners = df[df['salary'] == '>50K']

# Step 2: Group by 'country' and count the occurrences
country_counts = high_earners['native-country'].value_counts()

# Step 3: Calculate the total number of high earners
total_high_earners = country_counts.sum()

# Step 4: Calculate the percentage for each country
country_percentage = (country_counts / total_high_earners) * 100

highest_earning_country = country_counts.sum()
# Step 5: Find the country with the maximum percentage
highest_earning_country_percentage = country_percentage.idxmax()

print(f"highest_earning_country:  {highest_earning_country}")
print(f"The country with the maximum percentage of people earning > $50K is {highest_earning_country_percentage} with {country_percentage[max_percentage_country]:.2f}%")

highest_earning_country:  7841

NameError: name 'max_percentage_country' is not defined

In [ ]:
country_count = df['native-country'].value_counts()
country_rich_count = df[df['salary'] == '>50K']['native-country'].value_counts()
highest_earning_country = (country_rich_count/country_count * 100).idxmax()


highest_earning_country_percentage = (country_rich_count/country_count * 100).max()

'Iran'

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
people_of_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
occupation_count = people_of_india['occupation'].value_counts()


top_IN_occupation = occupation_count.idxmax()
top_IN_occupation

'Prof-specialty'